blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
Flask==3.1.2
greenlet==3.2.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
playwright==1.55.0
pyee==13.0.0
requests==2.32.5
schedule==1.2.2
typing_extensions==4.15.0
urllib3==2.6.2
Werkzeug==3.1.4
